td button img{

 

    height: 15px;
  
   
  
    width: 15px;
  
   
  
    opacity: .6;
  
   
  
  }
  
   
  
  td button{
  
   
  
  border: none;
  
   
  
  }
  
   
  
  .mat-header-cell,
  
   
  
   
  
   
  
  .mat-cell {
  
   
  
   
  
   
  
  /* border: 1px solid #ccc; Add a border to create visual separation */
  
   
  
   
  
   
  
  padding: 20px; /* Add padding for spacing within cells */
  
   
  
   
  
   
  
  }