.example-spacer {

 

    flex: 1 1 auto;

 

  }

 

  body{

 

    background-color: #e9f1f8;

 

  }

 

  .dot {

 

    height: 35px;

 

    width: 35px;

 

    background-color: rgba(248,48,203,255);

 

    border-radius: 50%;

 

    display: inline-block;

 

  }

 

  .img{

 

    width: 20px;

 

    height: 20px;

 

    filter: brightness(0) invert(1);

 

  }

 

  .custom-button {

 

    width: 200px;

 

    margin-top: 20px;

 

  }  

 

  .overlay {

    position: fixed;

    top: 30%;

    bottom: 0;

    left: 0;

    right: 0;

    background: rgba(0, 0, 0, 0.7);

    transition: opacity 500ms;

  visibility: visible;

    opacity: 1;

    box-shadow: none;

  }

 

 

 

  .popup {

    margin: 70px auto;

    padding: 20px;

    background: #fff;

    border-radius: 5px;

    width: 30%;

    position: relative;

    transition: all 5s ease-in-out;

    box-shadow: none;

  }

 

  .popup h2 {

    margin-top: 0;

    color: #333;

    font-family: Tahoma, Arial, sans-serif;

  }

  .popup .close {

    position: absolute;

    top: 20px;

    right: 30px;

    transition: all 200ms;

    font-size: 30px;

    font-weight: bold;

    text-decoration: none;

    color: #333;

  }

  .popup .close:hover {

    color: #06D85F;

    cursor: pointer;

  }

  .popup .content {

    max-height: 30%;

    overflow: auto;

  }

  td button img{

    height: 15px;

    width: 15px;

  }

 

  .table-cell {

    padding: 10px;

  }

  /* In your component's CSS or a global CSS file */

/* .mat-cell {

 border: 1px solid #ccc; Add a border to create visual separation

  padding: 25px;Add padding for spacing within cells

} */

/* In your component's CSS or a global CSS file */

.mat-header-cell,

.mat-cell {

  /* border: 1px solid #ccc; Add a border to create visual separation */

  padding: 20px; /* Add padding for spacing within cells */

}

a:hover{

  cursor: pointer;

}