<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" style="font-weight: 550; background-color: rgba(238,244,251,255);">
                    Code <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th scope="col" style="font-weight: 550; background-color: rgba(238,244,251,255);">
                    Course Name <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th scope="col" style="font-weight: 550; background-color: rgba(238,244,251,255);">
                    Topic Completed <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th scope="col" style="font-weight: 550; background-color: rgba(238,244,251,255);">
                    Topic in Progress <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th scope="col" style="font-weight: 550; background-color: rgba(238,244,251,255);">
                    Course Completion Percentage <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
            </tr>                 
            </thead>
            <tbody>
              <tr>
                <td>CZ101</td>
                <td>Web Development</td>
                <td>React.Js</td>
                <td>NA</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>CZ102</td>
                <td>App Development</td>
                <td>Android</td>
                <td>Java</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>CZ103</td>
                <td>Angular Development</td>
                <td>Tables</td>
                <td>Dynamic Tables</td>
                <td>60%</td>
              </tr>
              <tr>
                <td>CZ104</td>
                <td>React Development</td>
                <td>Promises</td>
                <td>NA</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>CZ105</td>
                <td>Vue Development</td>
                <td>UseState</td>
                <td>Functions</td>
                <td>90%</td>
              </tr>
             
             
            </tbody>
          </table>
        
        <script src="" async defer></script>
    </body>
</html>

