::ng-deep .mat-tab-label {
    padding: 20px !important;
    min-width: 20px!important;
   font-weight: 700;
   color: black;
   font-size: 15px;
   font-family: sans-serif;
   

  }
  .select-arrow {
    position: absolute;
    right: 12px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  
  /* Initially set reduced opacity for form elements */
.completed {
    opacity: 1; /* Fully visible when form is completed */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
  }
  

  
  
  
  